@import url('https://fonts.googleapis.com/css?family=Lato');
body{
  overflow-x: hidden;
  font-family: 'Lato' ,sans-serif;
  color: #505962;
}
.offset:before{
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;


}
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9em;
  letter-spacing: .1em;
  background: rgba(0,0,0,0.6)!important;
}
.navbar-nav li{
  padding-right: 0.7em;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8em;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{

  color: #1ebba3;
}


/*landing page */
.home-inner{
  background-image: url(img/computers.png);
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:30%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1{
  font-size: 3.0rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .15rem .15rem .14rem grey;
  padding-bottom: 3rem;
}
.caption h3{
  font-size: 1.2rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1.6rem;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding:.6rem 1.3rem;
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
 /*goals*/
 .jumbotron{
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;

 } 

h3.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
   margin-bottom: 1.9rem;

}
.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: #433333;
  margin: 0 auto 2rem;


}
.goals svg.svg-inline--fa{
  color: #1ebba3;
}
.resource i.fas{
  color: #1ebba3;
}


footer{
    background: #4b4c4f;   
}
footer h6{
    color: white;
    font-size: 24px;
    font-family: "open sans";
    font-weight: bold;
    padding-top: 32px;
    margin-left: 30px;
}
footer ul li {
    color: white;
    list-style-type: none;
    padding-top: 10px;
    font-size: 13px;
    
}
footer ul li a{
    color: white;

}
footer ul li a:hover{
    text-decoration: none;
    color: #d1d3d6;
}
.location i{
   font-size: 22px;
}
.contact i{
    font-size: 20px;
    padding-right: 20px;

}
.conatact ul li{
    font-size: 50px;
}
.footer-get-info i{
    font-size: 20px;
    padding-right: 20px;
}

.footer-get-info{
    margin-left: 1px;
}
footer .contact a {
  text-decoration: none;
}
footer .contact a:hover {
  text-decoration: none;
  }
footer .contact-details a {
  text-decoration: none;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
